<configuration verbosity="Warn">
  <dduetools>
    <builder>
      <componentLocations>
        <location folder="C:\Users\Srujan Jha\Documents\Visual Studio 2015\Projects\BuildmLearnStore\AppStore\Documentation" />
      </componentLocations>
      <components>
        <!-- Create skeleton document -->
        <component id="Copy From File Component">
          <data file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Transforms\skeleton_conceptual.xml" />
          <copy source="/*" target="/" />
        </component>
        <!-- Copy in the topic content-->
        <component id="Copy From Files Component">
          <copy base=".\ddueXml" file="concat($key,'.xml')" source="/topic" target="/document" />
        </component>
        <!-- Resolve tokens -->
        <component id="Shared Content Component">
          <context prefix="ddue" name="http://ddue.schemas.microsoft.com/authoring/2003/5" />
          <content file="HelpFileBuilderTokens.tokens" />
          <replace elements="/*//ddue:token" item="string(.)" />
        </component>
        <!-- Copy in metadata attributes -->
        <component id="Copy From Index Component">
          <index name="metadata" value="/metadata/topic" key="@id">
            <data files="_ContentMetadata_.xml" />
          </index>
          <copy name="metadata" source="*" target="/document/metadata" />
        </component>
        <!-- Resolve code snippets -->
        <!-- Code block component configuration.  This must appear before the TransformComponent. -->
        <component id="Code Block Component">
          <!-- Base path for relative filenames in source attributes (optional) -->
          <basePath value="C:\Users\Srujan Jha\Documents\Visual Studio 2015\Projects\BuildmLearnStore\AppStore\Documentation\" />
          <!-- Base output paths for the files (required).  These should match the parent folder of the output
							 path of the HTML files (see each of the SaveComponent instances below). -->
          <outputPaths>
            <path value="Output\HtmlHelp1\" />
            <path value="Output\Website\" />
          </outputPaths>
          <!-- Allow missing source files (Optional).  If omitted, it will generate errors if referenced source
							 files are missing. -->
          <allowMissingSource value="false" />
          <!-- Remove region markers from imported code blocks.  If omitted, region markers in imported code
							 blocks are left alone. -->
          <removeRegionMarkers value="false" />
          <!-- Code colorizer options (required).
							 Attributes:
									Language syntax configuration file (required)
									XSLT style sheet file (required)
									CSS style sheet file (required)
									Script file (required)
									Disabled (optional, leading whitespace normalization only)
									Default language (optional)
									Enable line numbering (optional)
									Enable outlining (optional)
									Keep XML comment "see" tags within the code (optional)
									Tab size override (optional, 0 = Use syntax file setting)
									Use language name as default title (optional) -->
          <colorizer syntaxFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\Colorizer\highlight.xml" styleFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\Colorizer\highlight.xsl" stylesheet="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\Colorizer\highlight.css" scriptFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\Colorizer\highlight.js" disabled="false" language="cs" numberLines="false" outlining="false" keepSeeTags="false" tabSize="0" defaultTitle="true" />
        </component>
        <!-- Generate syntax -->
        <component id="Syntax Component">
          <!-- This element is not relevant to conceptual builds -->
          <syntax input="/document/reference" output="/document/syntax" />
          <!-- The list of syntax generators to use -->
          <generators>
            <generator id="C#" />
            <generator id="Visual Basic">
              <includeLineContinuation value="false" />
            </generator>
            <generator id="Managed C++" />
            <generator id="F#" />
          </generators>
          <!-- Group snippets for languages in the syntax generator set within this element -->
          <containerElement name="codeSnippetGroup" addNoExampleTabs="true" includeOnSingleSnippets="false" groupingEnabled="true" />
        </component>
        <!-- Transform -->
        <component id="XSL Transform Component">
          <transform file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Transforms\main_conceptual.xsl">
            <argument key="metadata" value="true" />
            <argument key="languages">
              <language name="CSharp" style="cs" />
              <language name="VisualBasic" style="vb" />
              <language name="ManagedCPlusPlus" style="cpp" />
              <language name="FSharp" style="fs" />
            </argument>
            <argument key="logoFile" value="aka.png" />
            <argument key="logoHeight" value="" />
            <argument key="logoWidth" value="" />
            <argument key="logoAltText" value="" />
            <argument key="logoPlacement" value="left" />
            <argument key="logoAlignment" value="left" />
            <argument key="maxVersionParts" value="" />
            <argument key="defaultLanguage" value="cs" />
          </transform>
        </component>
        <!-- Multi-format output component.  This must wrap the component set unique to each output file format. -->
        <component id="Multi-format Output Component">
          <!-- This defines the formats to generate -->
          <build formats="HtmlHelp1, Website" />
          <!-- This defines the set of components for HTML Help 1 files -->
          <helpOutput format="HtmlHelp1">
            <!-- Add additional header resources -->
            <component id="Additional Header Resources Component">
              <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
              <stylesheet name="../styles/branding-Help1.css" />
            </component>
            <!-- Resolve shared content -->
            <component id="Shared Content Component">
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SHFBContent.xml" />
              <content file="AspNet.xml" />
              <content file="ManagedCPlusPlus.xml" />
              <content file="CSharp.xml" />
              <content file="FSharp.xml" />
              <content file="JavaScript.xml" />
              <content file="JScript.xml" />
              <content file="JSharp.xml" />
              <content file="VisualBasic.xml" />
              <content file="VisualBasicUsage.xml" />
              <content file="XAML.xml" />
            </component>
            <!-- Resolve art links -->
            <component id="Resolve Art Links Component">
              <targets input="Media" baseOutput=".\Output\HtmlHelp1" outputPath="string('media')" link="../media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component id="Resolve Conceptual Links Component">
              <showBrokenLinkText value="true" />
              <targets base="xmlComp" type="Local" />
            </component>
            <!-- Resolve reference links -->
            <component id="Resolve Reference Links Component">
              <locale value="en-us" />
              <linkTarget value="_blank" />
              <msdnContentIdCache path="C:\Users\Srujan Jha\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnContentId.cache" />
              <targets base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\WindowsPhoneApp" recurse="true" files="*.xml" type="msdn" id="FrameworkTargets">
                <namespace file="Windows.UI.Xaml.Controls.xml" />
                <namespace file="System.Runtime.Serialization.xml" />
                <namespace file="System.Reflection.xml" />
                <namespace file="System.xml" />
                <namespace file="Windows.UI.Xaml.xml" />
                <namespace file="Windows.UI.Xaml.Markup.xml" />
                <namespace file="Windows.ApplicationModel.Activation.xml" />
                <namespace file="Windows.ApplicationModel.xml" />
                <namespace file="Windows.UI.Popups.xml" />
                <namespace file="Windows.UI.Xaml.Navigation.xml" />
                <namespace file="Windows.UI.Xaml.Media.Animation.xml" />
                <namespace file="Windows.UI.Xaml.Input.xml" />
                <namespace file="Windows.UI.Text.xml" />
                <namespace file="Windows.UI.Xaml.Media.xml" />
                <namespace file="Windows.UI.Xaml.Data.xml" />
                <namespace file="Windows.Foundation.xml" />
                <namespace file="Windows.UI.Xaml.Automation.Peers.xml" />
                <namespace file="System.Collections.Generic.xml" />
                <namespace file="Windows.UI.Core.xml" />
                <namespace file="Windows.Phone.UI.Input.xml" />
                <namespace file="Windows.ApplicationModel.DataTransfer.xml" />
                <namespace file="Windows.Foundation.Collections.xml" />
                <namespace file="System.Collections.xml" />
                <namespace file="System.Windows.Input.xml" />
                <namespace file="System.Threading.Tasks.xml" />
                <namespace file="Windows.UI.Xaml.Media.Imaging.xml" />
                <namespace file="System.IO.xml" />
                <namespace file="System.Security.xml" />
                <namespace file="System.Collections.ObjectModel.xml" />
                <namespace file="System.Reflection.Emit.xml" />
                <namespace file="System.Runtime.CompilerServices.xml" />
                <namespace file="System.Threading.xml" />
                <namespace file="Microsoft.FSharp.Core.xml" />
                <namespace file="Microsoft.FSharp.Control.xml" />
              </targets>
              <targets files="reflection.xml" type="Local" id="ProjectTargets" />
            </component>
            <!-- Convert language-specific text spans to script elements -->
            <component id="Language-Specific Text Component" />
            <!-- Save the result -->
            <component id="Save Component">
              <save base="Output\HtmlHelp1\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for MS Help 2 files -->
          <helpOutput format="MSHelp2">
            <!-- Add additional header resources -->
            <component id="Additional Header Resources Component">
              <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
              <stylesheet name="../styles/branding-Help2.css" />
            </component>
            <!-- Resolve shared content -->
            <component id="Shared Content Component">
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SHFBContent.xml" />
              <content file="AspNet.xml" />
              <content file="ManagedCPlusPlus.xml" />
              <content file="CSharp.xml" />
              <content file="FSharp.xml" />
              <content file="JavaScript.xml" />
              <content file="JScript.xml" />
              <content file="JSharp.xml" />
              <content file="VisualBasic.xml" />
              <content file="VisualBasicUsage.xml" />
              <content file="XAML.xml" />
            </component>
            <!-- Insert additional MS Help 2 attributes -->
            <component id="Help 2 Help Attribute Component">
              <attributes>
              </attributes>
            </component>
            <!-- Resolve art links -->
            <component id="Resolve Art Links Component">
              <targets input="Media" baseOutput=".\Output\MSHelp2" outputPath="string('media')" link="../media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component id="Resolve Conceptual Links Component">
              <showBrokenLinkText value="true" />
              <targets base="xmlComp" type="Index" />
            </component>
            <!-- Resolve reference links -->
            <component id="Resolve Reference Links Component">
              <locale value="en-us" />
              <linkTarget value="_blank" />
              <msdnContentIdCache path="C:\Users\Srujan Jha\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnContentId.cache" />
              <targets base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\WindowsPhoneApp" recurse="true" files="*.xml" type="msdn" id="FrameworkTargets">
                <namespace file="Windows.UI.Xaml.Controls.xml" />
                <namespace file="System.Runtime.Serialization.xml" />
                <namespace file="System.Reflection.xml" />
                <namespace file="System.xml" />
                <namespace file="Windows.UI.Xaml.xml" />
                <namespace file="Windows.UI.Xaml.Markup.xml" />
                <namespace file="Windows.ApplicationModel.Activation.xml" />
                <namespace file="Windows.ApplicationModel.xml" />
                <namespace file="Windows.UI.Popups.xml" />
                <namespace file="Windows.UI.Xaml.Navigation.xml" />
                <namespace file="Windows.UI.Xaml.Media.Animation.xml" />
                <namespace file="Windows.UI.Xaml.Input.xml" />
                <namespace file="Windows.UI.Text.xml" />
                <namespace file="Windows.UI.Xaml.Media.xml" />
                <namespace file="Windows.UI.Xaml.Data.xml" />
                <namespace file="Windows.Foundation.xml" />
                <namespace file="Windows.UI.Xaml.Automation.Peers.xml" />
                <namespace file="System.Collections.Generic.xml" />
                <namespace file="Windows.UI.Core.xml" />
                <namespace file="Windows.Phone.UI.Input.xml" />
                <namespace file="Windows.ApplicationModel.DataTransfer.xml" />
                <namespace file="Windows.Foundation.Collections.xml" />
                <namespace file="System.Collections.xml" />
                <namespace file="System.Windows.Input.xml" />
                <namespace file="System.Threading.Tasks.xml" />
                <namespace file="Windows.UI.Xaml.Media.Imaging.xml" />
                <namespace file="System.IO.xml" />
                <namespace file="System.Security.xml" />
                <namespace file="System.Collections.ObjectModel.xml" />
                <namespace file="System.Reflection.Emit.xml" />
                <namespace file="System.Runtime.CompilerServices.xml" />
                <namespace file="System.Threading.xml" />
                <namespace file="Microsoft.FSharp.Core.xml" />
                <namespace file="Microsoft.FSharp.Control.xml" />
              </targets>
              <targets files="reflection.xml" type="Index" id="ProjectTargets" />
            </component>
            <!-- Convert language-specific text spans to script elements -->
            <component id="Language-Specific Text Component" />
            <!-- Save the result -->
            <component id="Save Component">
              <save base="Output\MSHelp2\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for MS Help Viewer files -->
          <helpOutput format="MSHelpViewer">
            <!-- Add additional header resources -->
            <component id="Additional Header Resources Component">
              <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
              <stylesheet name="styles/branding-HelpViewer.css" />
            </component>
            <!-- Resolve shared content -->
            <component id="Shared Content Component">
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\shared_content.xml" />
              <!-- Override the paths for MS Help Viewer -->
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\shared_content_mshc.xml" />
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SHFBContent.xml" />
              <content file="AspNet.xml" />
              <content file="ManagedCPlusPlus.xml" />
              <content file="CSharp.xml" />
              <content file="FSharp.xml" />
              <content file="JavaScript.xml" />
              <content file="JScript.xml" />
              <content file="JSharp.xml" />
              <content file="VisualBasic.xml" />
              <content file="VisualBasicUsage.xml" />
              <content file="XAML.xml" />
            </component>
            <!-- Resolve art links -->
            <component id="Resolve Art Links Component">
              <targets input="Media" baseOutput=".\Output\MSHelpViewer" outputPath="string('media')" link="media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component id="Resolve Conceptual Links Component">
              <showBrokenLinkText value="true" />
              <targets base="xmlComp" type="Id" />
            </component>
            <!-- Resolve reference links -->
            <component id="Resolve Reference Links Component">
              <locale value="en-us" />
              <linkTarget value="_blank" />
              <msdnContentIdCache path="C:\Users\Srujan Jha\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnContentId.cache" />
              <targets base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\WindowsPhoneApp" recurse="true" files="*.xml" type="msdn" id="FrameworkTargets">
                <namespace file="Windows.UI.Xaml.Controls.xml" />
                <namespace file="System.Runtime.Serialization.xml" />
                <namespace file="System.Reflection.xml" />
                <namespace file="System.xml" />
                <namespace file="Windows.UI.Xaml.xml" />
                <namespace file="Windows.UI.Xaml.Markup.xml" />
                <namespace file="Windows.ApplicationModel.Activation.xml" />
                <namespace file="Windows.ApplicationModel.xml" />
                <namespace file="Windows.UI.Popups.xml" />
                <namespace file="Windows.UI.Xaml.Navigation.xml" />
                <namespace file="Windows.UI.Xaml.Media.Animation.xml" />
                <namespace file="Windows.UI.Xaml.Input.xml" />
                <namespace file="Windows.UI.Text.xml" />
                <namespace file="Windows.UI.Xaml.Media.xml" />
                <namespace file="Windows.UI.Xaml.Data.xml" />
                <namespace file="Windows.Foundation.xml" />
                <namespace file="Windows.UI.Xaml.Automation.Peers.xml" />
                <namespace file="System.Collections.Generic.xml" />
                <namespace file="Windows.UI.Core.xml" />
                <namespace file="Windows.Phone.UI.Input.xml" />
                <namespace file="Windows.ApplicationModel.DataTransfer.xml" />
                <namespace file="Windows.Foundation.Collections.xml" />
                <namespace file="System.Collections.xml" />
                <namespace file="System.Windows.Input.xml" />
                <namespace file="System.Threading.Tasks.xml" />
                <namespace file="Windows.UI.Xaml.Media.Imaging.xml" />
                <namespace file="System.IO.xml" />
                <namespace file="System.Security.xml" />
                <namespace file="System.Collections.ObjectModel.xml" />
                <namespace file="System.Reflection.Emit.xml" />
                <namespace file="System.Runtime.CompilerServices.xml" />
                <namespace file="System.Threading.xml" />
                <namespace file="Microsoft.FSharp.Core.xml" />
                <namespace file="Microsoft.FSharp.Control.xml" />
              </targets>
              <targets files="reflection.xml" type="Id" id="ProjectTargets" />
            </component>
            <!-- Add Microsoft Help Viewer metadata -->
            <component id="Microsoft Help Viewer Metadata Component">
              <data topic-version="100" toc-file="_ConceptualTOC_.xml" toc-parent="-1" toc-parent-version="100" locale="en-us" />
            </component>
            <!-- Convert language-specific text spans to script elements -->
            <component id="Language-Specific Text Component" />
            <!-- Save the result -->
            <component id="Save Component">
              <save base="Output\MSHelpViewer\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="false" add-xhtml-namespace="true" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for websites -->
          <helpOutput format="Website">
            <!-- Add additional header resources -->
            <component id="Additional Header Resources Component">
              <meta http-equiv="X-UA-Compatible" content="IE=edge" />
              <stylesheet name="../styles/branding-Website.css" />
              <script name="../scripts/jquery-1.11.0.min.js" />
              <script name="../scripts/branding-Website.js" />
            </component>
            <!-- Resolve shared content -->
            <component id="Shared Content Component">
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\PresentationStyles\VS2013\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SHFBContent.xml" />
              <content file="AspNet.xml" />
              <content file="ManagedCPlusPlus.xml" />
              <content file="CSharp.xml" />
              <content file="FSharp.xml" />
              <content file="JavaScript.xml" />
              <content file="JScript.xml" />
              <content file="JSharp.xml" />
              <content file="VisualBasic.xml" />
              <content file="VisualBasicUsage.xml" />
              <content file="XAML.xml" />
            </component>
            <!-- Resolve art links -->
            <component id="Resolve Art Links Component">
              <targets input="Media" baseOutput=".\Output\Website" outputPath="string('media')" link="../media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component id="Resolve Conceptual Links Component">
              <showBrokenLinkText value="true" />
              <targets base="xmlComp" type="Local" />
            </component>
            <!-- Resolve reference links -->
            <component id="Resolve Reference Links Component">
              <locale value="en-us" />
              <linkTarget value="_blank" />
              <msdnContentIdCache path="C:\Users\Srujan Jha\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnContentId.cache" />
              <targets base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\WindowsPhoneApp" recurse="true" files="*.xml" type="msdn" id="FrameworkTargets">
                <namespace file="Windows.UI.Xaml.Controls.xml" />
                <namespace file="System.Runtime.Serialization.xml" />
                <namespace file="System.Reflection.xml" />
                <namespace file="System.xml" />
                <namespace file="Windows.UI.Xaml.xml" />
                <namespace file="Windows.UI.Xaml.Markup.xml" />
                <namespace file="Windows.ApplicationModel.Activation.xml" />
                <namespace file="Windows.ApplicationModel.xml" />
                <namespace file="Windows.UI.Popups.xml" />
                <namespace file="Windows.UI.Xaml.Navigation.xml" />
                <namespace file="Windows.UI.Xaml.Media.Animation.xml" />
                <namespace file="Windows.UI.Xaml.Input.xml" />
                <namespace file="Windows.UI.Text.xml" />
                <namespace file="Windows.UI.Xaml.Media.xml" />
                <namespace file="Windows.UI.Xaml.Data.xml" />
                <namespace file="Windows.Foundation.xml" />
                <namespace file="Windows.UI.Xaml.Automation.Peers.xml" />
                <namespace file="System.Collections.Generic.xml" />
                <namespace file="Windows.UI.Core.xml" />
                <namespace file="Windows.Phone.UI.Input.xml" />
                <namespace file="Windows.ApplicationModel.DataTransfer.xml" />
                <namespace file="Windows.Foundation.Collections.xml" />
                <namespace file="System.Collections.xml" />
                <namespace file="System.Windows.Input.xml" />
                <namespace file="System.Threading.Tasks.xml" />
                <namespace file="Windows.UI.Xaml.Media.Imaging.xml" />
                <namespace file="System.IO.xml" />
                <namespace file="System.Security.xml" />
                <namespace file="System.Collections.ObjectModel.xml" />
                <namespace file="System.Reflection.Emit.xml" />
                <namespace file="System.Runtime.CompilerServices.xml" />
                <namespace file="System.Threading.xml" />
                <namespace file="Microsoft.FSharp.Core.xml" />
                <namespace file="Microsoft.FSharp.Control.xml" />
              </targets>
              <targets files="reflection.xml" type="Local" id="ProjectTargets" />
            </component>
            <!-- Convert language-specific text spans to script elements -->
            <component id="Language-Specific Text Component" />
            <!-- Save the result -->
            <component id="Save Component">
              <save base="Output\Website\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
        </component>
      </components>
    </builder>
  </dduetools>
</configuration>